body {
    background-color: #000;
    margin: 0;
    font-family: 'Sen', sans-serif;
    position: relative;
    color: #fff;
}

.grey {
    color: rgba(255, 255, 255, 0.50);
}

.green {
    color: #3CC74E;
}

.blue {
    color: #609BFF;
}

.pink {
    color: #E95D90;
}



.wrapper {
    width: 100%;
    max-width: 1440px;
    margin: auto;
    /* padding: 0 72px; */
    box-sizing: border-box;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.header__logo {
    padding: 32px 0;
}

.header__burger {
    display: none;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 144px;
}

.header__list {
    display: flex;
    margin: 0;
    padding: 0;
}

.header__item {
    list-style: none;
}

.header__item:hover {
    background-color: #5221E6;
}

.header__item_active {
    background-color: #5221E6;
}

.header__link {
    display: block;
    padding: 32px 24px;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
}

.header__link:hover {
    font-weight: 700;
}

.active .header__link {
    font-weight: 700;
}

.presentation {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-image: url(/assets/images/background.jpg);
    padding-top: 165px;
    padding-bottom: 84px;
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 120px;
}

.presentation__image {
    display: flex;
    width: 750px;
    height: 650px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.presentation__image > img {
    width: 100%;
}

.presentation__text {
    position: absolute;
    color: #fff;
    width: 645px;
    left: 662px;
}

.presentation__text > h1 {
    font-size: 68px;
    font-weight: 700;
    margin-top: 141px;
    margin-bottom: 0;
}

.presentation__text > p {
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    margin-top: 32px;
}

.companies {
    max-width: 1440px;
}

.companies__title {
    text-transform: uppercase;
    color: #8491A0;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    margin-bottom: 8px;
    margin-top: 0;
}

.companies__description {
    max-width: 690px;
    font-size: 55px;
    font-weight: 700;
    margin-top: 0;
}

.companies__list {
    display: flex;
    justify-content: space-between;
}

.companies__item {
    max-width: 416px;
}

.companies__item-number {
    color: #8491A0;
    font-size: 117px;
    font-weight: 400;
    margin: 0;
}

.companies__item-position {
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
    margin: 0;
    padding-right: 10px;
}

.companies__item-description {
    color: #8491A0;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; 
    padding-right: 48px;
}

.values {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    max-height: 600px;
}

.values__description {
    width: 720px;
    height: 600px;
    background-color: #FFF3E4;
    color: #000;
    flex-grow: 1;
}

.values__description h2 {
    font-size: 55px;
    padding-top: 100px;
    padding: 120px 72px 24px 72px;
    margin: 0;
}

.values__description p:nth-child(even) {
    font-size: 18px;
    line-height: 150%;
    padding: 0 72px 0 72px;
    margin: 0;
}

.values__description p:nth-child(odd) {
    font-size: 16px;
    padding: 134px 0 124px 72px;
    margin: 0;
}

.values__illustration {
    display: flex;
    width: 720px;
    height: 600px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.values__illustration > img {
    width: 100%;
}



@media (max-width: 1350px) {
    .presentation {
        background-image: none;
    }
    .presentation__image {
        width: 384px;
    }
    .presentation__text {
        right: 0;
        left: auto;
    }
    .presentation__text h1 {
        font-size: 56px;
    }
    .presentation__text {
        width: 70%;
    }
    .companies {
        margin-left: 20px;
    }
}

@media (max-width: 950px) {
    .wrapper {
        padding: 0 40px;
    }
    .presentation__text {
        width: 60%;
    }
    .presentation__text p {
        max-width: 408px;
    }
    .companies__description {
        max-width: 100%;
    }
    .companies {
        margin-left: 20px;
    }

}

@media (max-width: 750px) {
    .wrapper {
        padding: 0 40px;
    }
    .header__navigate {
        display: none;
    }
    .header__burger {
        width: 18px;
        height: 11px;
        display: block;
    }
    .header__burger img {
        width: 100%;
        height: 100%;
    }
    .presentation {
        flex-direction: column;
    }
    .presentation__image {
        width: 100%;
    }
    .presentation__text {
        position: static;
        width: 100%;
    }
    .presentation__text h1 {
        font-size: 46px;
        margin-top: 48px;
    }
    .presentation__text p {
        max-width: 100%;
    }
    .companies {
        margin: 0;
    }
    .presentation {
        padding-bottom: 0;
    }
    .companies__list {
        flex-direction: column;
    }
    .companies__description {
        font-size: 46px;
    }
    .companies__item {
        min-width: 100%;
    }
}

