body {
    background-color: #000;
    margin: 0;
    font-family: 'Sen', sans-serif;
    position: relative;
    color: #fff;
}
/* Global colors */
.grey { color: rgba(255, 255, 255, 0.50); }
.green { color: #3CC74E; }
.blue { color: #609BFF; }
.pink { color: #E95D90; }

.wrapper {
    width: 100%;
    max-width: 1440px;
    margin: auto;
    padding: 0 72px;
    box-sizing: border-box;
}

@media (max-width: 950px) {
    .wrapper {
        padding: 0 40px;
    }
}

